
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
     <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div ngModelGroup="userInfo" #userDetails="ngModelGroup">
      <div class="form-group">
        <label for="username">Username*</label>
       <input type="text"  required ngModel pattern="^[a-zA-Z]*$" #username="ngModel"  id="username" name="username" class="form-control">
      <p class="alert alert-danger" *ngIf="username.touched && username.invalid && !username.dirty">
           This field is Mandetory.
      </p>
      <p class="alert alert-danger" *ngIf="username.invalid && username.dirty" >
           This field should not contain num.& spe char
      </p>
      </div>
        <div class="form-group">
          <label for="email">Email*</label>
             <input type="text"  required ngModel 
             pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
             #email="ngModel" id="email" name="email" class="form-control">
             <p class="alert alert-danger" *ngIf="email.touched && email.invalid && !email.dirty" >
              fill this it's Mandatory.
             </p>
          <p class="alert alert-danger" *ngIf=" email.invalid && email.dirty" >
             please enter valid email id!
          </p>
            </div>
      </div>
      <p class="alert alert-danger" *ngIf="email.touched && email.invalid">
        invalid Userdetails
      </p>
        <div class="form-group">
          <label for="secrectQuestion">Secrect Question</label>
             <select required name="secrectQuestion" ngModel #secrectQuestion="ngModel" id="" class="form-control">
               <option value="pet">Your First Pet</option>
               <option value="teacher">Your First Teacher</option>
               <option value="birthplace">Birth Place</option>
             </select> 
             <p class="alert alert-danger" *ngIf="secrectQuestion.touched && secrectQuestion.invalid">
              This field is Mandetory.
             </p>
          </div>
          <div class="form-group genders">
            <ng-container *ngFor="let gender of gendersArray">
            <label [for]="gender">
                <input type="radio" name="gender" [id]="gender" ngModel [value]="gender"> {{gender}}
            </label>
            </ng-container>
          </div>
          <div class="form-group moc">
         <!-- <ng-container *ngFor="let mode of modeOfContactArr">
          <label [for]="mode.moc">
             <input type="radio" name="mode" [id]="mode.moc" [(ngModel)]="modeOfContactChecked"
              [value]="mode.moc"> {{mode.moc}}
          </label>
         </ng-container> -->
         <ng-container *ngFor="let mode of modeOfContactArr">
          <label [for]="mode.moc">
             <input type="radio" name="mode" [id]="mode.moc" [(ngModel)]="modeOfContactChecked"
              [value]="mode.moc"> {{mode.moc}}
          </label>
         </ng-container>
          </div>
        <div class="text-right">
          <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
        </div>
    </form>
    </div>
    <div class="col-md-6">
      {{ f.value| json}}
    </div>
    </div>
  </div>
